aiohttp==3.9.5
Flask==3.0.3
Flask-Cors==4.0.1
Flask-SocketIO==5.3.6
google-generativeai==0.5.4
gunicorn
langchain==0.1.20
langchain-community
langchain-core==0.1.52
langchain-google-genai==1.0.4
numpy==1.26.4
opencv-python==4.10.0.84
pinterest-api-sdk==0.2.1
python-dotenv==0.20.0
requests==2.32.3
deepgram-sdk
python-socketio==5.11.3
eventlet==0.36.1
gevent==24.2.1
gevent-websocket==0.10.1
PyAudio==0.2.13
sounddevice==0.4.6

# Optional packages (uncomment if needed)
# Hypercorn==0.17.3
# Quart==0.19.6
# SQLAlchemy==2.0.27